html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgrey;
}

.LimitedOffers{
    cursor: pointer;
    border-bottom: 2px solid green;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgrey;
    font-weight: 400;
}

.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderImage{
    z-index: 1;
}

.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 1px solid grey;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 50%;
    right: 10%;
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    border: 1px solid grey;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    background-color: white;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg{
    background-color: aqua;
}
.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(81, 0, 255);
}
.sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(255, 0, 119);
}
.sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(255, 0, 0);
}
.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(255, 242, 0);
}

.sliderItem:nth-child(1) .sliderPrice{
    color: aqua;
}
.sliderItem:nth-child(2) .sliderPrice{
    color: rgb(81, 0, 255);
}
.sliderItem:nth-child(3) .sliderPrice{
    color: rgb(255, 0, 119);
}
.sliderItem:nth-child(4) .sliderPrice{
    color: rgb(255, 0, 0);
}
.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(255, 242, 0);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureImg{
    width: 50px;
    /* height: 50px; */
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDescription{
    width: 50%;
    height: 100px;
    color: grey;
}

.product{
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment{
    position: absolute;
    height: 500px;
    width: 500px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    display: none;
    flex-direction: column;
    padding: 10px 50px;
    -webkit-box-shadow: 0px 0px 12px -1px #000000; 
box-shadow: 0px 0px 12px -1px #000000;
}

.payTitle{
    font-size: 20px;
    color: lightgray;
}

label{
    font-size: 14px;
    font-weight: 500;
}

.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.payInput::placeholder{
    color: rgb(240, 238, 238);
}

.cardInfo{
    display: flex;
}

.sm{
    width: 30%;
    margin: 10px;
}

.payButton{
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 12px -1px #000000; 
box-shadow: 0px 0px 12px -1px #000000;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(124, 118, 118);
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.productImg{
    width: 50%;
    margin-top: 13%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 75px;
    font-weight: 900;
}

.productDesc{
    font-size: 24px;
    color: gray;
}

.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    height: 32px;
    width: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: rgb(226, 237, 14);
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color: white;
    color: black;
}

.gallery{
    padding: 50px;
    display: flex;
}

.galleryItem{
    flex: 1;
    padding: 50px;
}

.galleryImage{
    width: 100%;
}

.newSeason{
    display: flex;
}

.nsItem{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nsImg{
    width: 100%;
}

.nsTitle{
    font-size: 40px;
}

.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px;
}

footer{
    display: flex;
}

.footerLeft{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.footerTitle{
    font-size: 16px;
}

.fList{
    padding: 0px;
    list-style: none;

}

.fListItem{
    margin-bottom: 10px;
    color: grey;
    cursor: pointer;
}

.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   

.fInput{
    padding: 5px;

}

.fButton{
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons{
    display: flex;
}

.fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

.copyright{
    font-weight: 300;
    font-size: 40;
    
}